<router-outlet></router-outlet>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="jquery.rotating-slider.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<div class="flex flex-wrap justify-center">
    <div class="max-w-[1980px]">
        <div class="first-page w-full flex flex-wrap">
            <div class="flex flex-wrap  bg-[#FFFFFF] w-full">
                <div class=" heard-one-left flex flex-wrap bg-white pl-[100px] pt-[13px] w-[40%]">
                    <p class="text-[#092582]  font-[600] text-[20px] text-center">BEST ARTS AND SCIENCE COLLEGE IN
                        CHENNAI</p>
                </div>
                <div
                    class="heard-one-right flex flex-wrap bg-[#C7171F] flex-row w-[60%] py-[11px] gap-[50px] pl-[40px] rounded-bl-lg">
                    <div class="flex flex-wrap text-[white]  gap-[6px]">
                        <img class="w-[24px] h-[24px]" src="../../../../assets/images/Group (4).png" alt="" />
                        <p>hcaspadur{{'@'}}yahoo.co.in</p>
                    </div>
                    <div class="flex flex-wrap text-[white]  gap-[6px]">
                        <img class="w-[24px] h-[24px]" src="../../../../assets/images/phonenumber-icon.png" alt="" />
                        <p> 044 69034444 / 99622 75666</p>
                    </div>
                </div>
            </div>
            <div class="heard-tow flex flex-wrap bg-[#FFFFFF] px-[100px] flex-row   py-[13px] justify-between w-full">
                <div class="heard-tow-cnt-1 ">
                    <img class="heard-tow-img max-w-[340px]" src="../../../../assets/images/logo 1.png" alt="" />
                </div>
                <div
                    class="heard-tow-menu flex flex-wrap flex-row gap-[30px] justify-center items-center font-[600] text-[16px]   ">
                    <p class="hover:text-[#FF5159]">Home</p>
                    <p class="hover:text-[#FF5159]">About Us</p>
                    <p class="hover:text-[#FF5159]">IQAC</p>
                    <p class="hover:text-[#FF5159]">Academics</p>
                    <p class="hover:text-[#FF5159]">Admission</p>
                    <p class="hover:text-[#FF5159]">Facilities</p>
                    <p class="hover:text-[#FF5159]">Alumni</p>
                    <p class="hover:text-[#FF5159]">Contact</p>
                    <p class="hover:text-[#FF5159]">Blog</p>

                    <button class="bg-[#C7171F] text-white py-[10px] px-[20px] rounded-lg hover:bg-[#FF5159] ">For
                        Enquiry</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <img class="w-full" src="../../../../assets/images/Rectangle 9.png" alt="" />
</div>
<div class="page-three flex flex-wrap justify-center items-center w-full p-[100px] ">
    <div class="three-one flex flex-wrap bg-white w-full justify-center items-center flex-col gap-5 pb-[40px]">
        <p class="text-[#C7171F] font-[500] text-[30px]">SEE FOR YOURSELF</p>
        <p class="#333333 font-[500] text-[20px]">Visit Hindustan</p>
        <img class="" src="../../../../assets/images/Line 1.png" alt="" />
    </div>
    <div class="three-tow flex flex-wrap flex-row gap-[45px] w-full justify-center items-center ">
        <div class="card relative flex flex-wrap cursor-pointer">
            <img class="inner-img w-[400px] " src="../../../../assets/images/Rectangle 11 (1).png" alt="" />
            <div class="intro absolute flex flex-wrap flex-row     bottom-[-47px] px-[40px] pb-[25px] gap-2">

                <p class="text-white font-[500] text-[20px]">ADMISSION</p>
                <p class="text-white font-[500] text-[12px] visibility: hidden; opacity-0">
                    You have taken the first step
                    to
                    becoming a proud HCASian.
                    There are a few simple
                    steps to fill
                    online. You can contact Admission Office Phone: 9789885555 or help desk 9962275666 if any assistance
                    required during the registration process.</p>
            </div>
            <div class="absolute flex flex-wrap flex-row bottom-[10px] px-[40px] pb-[15px] gap-2">
                <div class="flex justify-center items-center">.
                    <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                        <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                    </button>
                    <p class="font-[400] text-[15px] text-[white] hover:text-[#FF5159] pl-[10px]">Know More</p>
                </div>
            </div>
        </div>
        <div class="card relative flex flex-wrap cursor-pointer">
            <img class="inner-img w-[400px]" src="../../../../assets/images/Rectangle 11 (2).png" alt="" />
            <div class="intro absolute flex flex-wrap flex-row   bottom-[-47px] px-[40px] pb-[25px] gap-2">

                <p class="text-white font-[500] text-[20px]">GALLERY</p>
                <p class="text-white font-[500] text-[12px] visibility: hidden; opacity-0">
                    You have taken the first step
                    to
                    becoming a proud HCASian.
                    There are a few simple
                    steps to fill
                    online. You can contact Admission Office Phone: 9789885555 or help desk 9962275666 if any assistance
                    required during the registration process.</p>
            </div>
            <div class="absolute flex flex-wrap flex-row bottom-[10px] px-[40px] pb-[15px]  gap-2">
                <div class="flex justify-center items-center">.
                    <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                        <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                    </button>
                    <p class="font-[400] text-[15px] text-[white] hover:text-[#FF5159] pl-[10px]">Know More</p>
                </div>
            </div>


        </div>
        <div class="card relative flex flex-wrap cursor-pointer">
            <img class="inner-img w-[400px]" src="../../../../assets/images/Rectangle 11 (3).png" alt="" />
            <div class="intro absolute flex flex-wrap flex-row   bottom-[-47px] px-[40px] pb-[25px] gap-2">

                <p class="text-white font-[500] text-[20px]">PLACEMENT</p>
                <p class="text-white font-[500] text-[12px] visibility: hidden; opacity-0">
                    The Training and Placement Cell of Hindustan College of Arts & Science, has been on the fore in
                    bringing about exciting job opportunities for all courses. It acts as a nodal point of contact for
                    companies to identify the future workforce from HCAS. </p>
            </div>
            <div class="absolute flex flex-wrap flex-row bottom-[10px] px-[40px] pb-[15px]  gap-2">
                <div class="flex justify-center items-center">.
                    <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                        <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                    </button>
                    <p class="font-[400] text-[15px] text-[white] hover:text-[#FF5159] pl-[10px]">Know More</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-four flex flex-wrap w-full ">
    <div class="page-four-bg w-full px-[160px] ">
        <div class="flex flex-wrap justify-center">
            <div class="max-w-[1980px]">
                <div class="flex flex-wrap justify-between w-full   ">
                    <div class="page-four-cnt-1 w-[50%] py-[120px] pr-[30px]  flex flex-wrap flex-col">
                        <p class="font-[600] text-[17px]">CAMPUS</p>
                        <p class="font-[400] text-[30px]">About the <a class="text-[#C7171F]" href="">College</a></p>
                        <div class="border-bottom w-[75px]  border-b-[2px] border-red-500">
                        </div>

                        <p class="pt-5 text-[18px]">Hindustan College of Arts & Science was founded by our founder Dr.
                            K.C.G. Verghese in the year 1995.
                            It
                            is a unit of Hindustan Group of Institutions, affiliated to the University of Madras and is
                            accorded
                            the
                            Minority Status by National Commission for Minority Educational Institutions, Govt. of
                            India.</p>
                        <div class=" flex flex-wrap flex-row pt-[30px] gap-2">
                            <div class="flex justify-center items-center">.
                                <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                                    <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                                </button>
                                <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Know More</p>
                            </div>
                        </div>
                    </div>
                    <div class="page-four-cnt-2 w-[50%] flex flex-wrap justify-center items-center ">
                        <img class="" src="../../../../assets/images/Rectangle 15.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-five flex flex-wrap text-center">
    <div
        class="page-five-1 flex flex-wrap bg-[#F8F9FF] flex-row justify-center gap-[20px] px-[100px] py-[80px] w-full ">
        <div class="abcd bg-white py-[74px] px-[120px] rounded-md  relative flex justify-center items-center">
            <img class="imge absolute " src="../../../../assets/images/rarible-clone-script.png" alt="" />
            <div class="ct">
                <p class="Hostel  text-[#092582] font-[500] text-[13px]">Hostel</p>
            </div>

        </div>
        <div class="abcd bg-white py-[74px] px-[120px] rounded-md  relative flex justify-center items-center">
            <img class="imge absolute " src="../../../../assets/images/XMLID_4047_.png" alt="" />
            <div class="ct">
                <p class="Hostel  text-[#092582] font-[500] text-[13px]">Library</p>
            </div>

        </div>
        <div class="abcd bg-white py-[74px] px-[120px] rounded-md  relative flex justify-center items-center">
            <img class="imge absolute " src="../../../../assets/images/rarible-clone-script (1).png" alt="" />
            <div class="ct">
                <p class="Hostel  text-[#092582] font-[500] text-[13px]">Scholarship</p>
            </div>

        </div>
        <div class="abcd bg-white py-[74px] px-[120px] rounded-md  relative flex justify-center items-center">
            <img class="imge absolute " src="../../../../assets/images/rarible-clone-script (2).png" alt="" />
            <div class="ct">
                <p class="Hostel  text-[#092582] font-[500] text-[13px]">Infrastructure</p>
            </div>

        </div>
        <div class="abcd bg-white py-[74px] px-[120px] rounded-md  relative flex justify-center items-center">
            <img class="imge absolute " src="../../../../assets/images/rarible-clone-script (3).png" alt="" />
            <div class="ct">
                <p class="Hostel  text-[#092582] font-[500] text-[13px]">Transportation</p>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap justify-center">
    <div class="max-w-[1980px]">
        <div class="page-six flex flex-wrap w-full ">
            <div class="page-six-pad  bg-white  px-[100px]  py-[100px] flex-col">
                <div class="flex flex-wrap flex-col pb-[40px] gap-[10px]">
                    <p class="font-[400] text-[30px] pb-[px]">
                        Announcements & <a class="text-[#C7171F]" href="">Notifications</a>
                    </p>
                    <div class="border-bottom w-[45px]  border-b-[2px] border-red-500">
                    </div>
                </div>
                <div class="page-six-cnt  w-full shadow-test justify-between flex flex-wrap px-[100px] ">
                    <div class="page-six-cnt-1 w-[50%] py-[160px] px-[80px] flex flex-wrap flex-col gap-[20px]">
                        <div class=" flex flex-wrap gap-[10px] flex-col">
                            <p class="font-[500]">Event</p>
                            <p class="font-[500] text-[20px]">Upcoming<a class="text-[#C7171F]" href=""> Events </a></p>
                            <div class="border-bottom w-[85px]  border-b-[2px] border-red-500">
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-[10px] flex-col">
                            <p class="font-[500] text-[15px] ">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION &
                                ISSUE OF ID
                                CARDS.
                            </p>
                            <div class="flex  items-center pt-[30px]">.
                                <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                                    <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                                </button>
                                <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Full Calendar</p>
                            </div>
                        </div>
                    </div>
                    <div class="page-six-cnt-2 w-[50%] flex flex-col gap-[40px] pt-[80px] ">
                        <div
                            class="flex  flex-row hover:bg-[#092582] hover:text-[white] rounded-md px-[20px] py-[10px] group">
                            <div
                                class="flex flex-wrap flex-col gap-5 pr-[20px] justify-center items-center  hover:text-[white]">
                                <p class="font-[400] text-[16px] hover:text-[white]">JUL</p>
                                <p
                                    class="font-[500] text-[40px] text-[#092582] hover:text-[white] group-hover:text-white">
                                    25
                                </p>
                            </div>

                            <div class="flex  flex-col gap-5">
                                <p class="font-[600] text-[16px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE
                                    OF ID
                                    CARDS
                                </p>
                                <p class="font-[500] text-[13px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE
                                    OF ID
                                    CARDSSCHEDULE FOR ORIGINAL
                                    CERTIFICATE VERIFICATION & ISSUE OF ID CARDS</p>
                            </div>
                        </div>
                        <div
                            class="flex  flex-row hover:bg-[#092582] hover:text-[white] rounded-md px-[20px] py-[10px] group ">
                            <div class="flex flex-wrap flex-col gap-5 pr-[20px] justify-center items-center  ">
                                <p class="font-[400] text-[16px]">JUL</p>
                                <p
                                    class="font-[500] text-[40px] text-[#092582] hover:text-[white] group-hover:text-white">
                                    25
                                </p>
                            </div>

                            <div class="flex  flex-col gap-5">
                                <p class="font-[600] text-[16px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE
                                    OF ID
                                    CARDS
                                </p>
                                <p class="font-[500] text-[13px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE
                                    OF ID
                                    CARDSSCHEDULE FOR ORIGINAL
                                    CERTIFICATE VERIFICATION & ISSUE OF ID CARDS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="flex flex-wrap justify-center  bg-[#DEECF6]">
    <div class="max-w-[1980px]">
        <div class="sevan-page flex flex-wrap w-full">
            <div class="flex flex-wrap w-full py-[80px] justify-center">
                <div class="flex flex-wrap flex-col w-full items-center justify-center gap-[10px]">
                    <p class="font-[600] text-[20px]">News</p>
                    <p class="font-[400] text-[#092582] text-[24px]">Recent News</p>
                    <img class="" src="../../../../assets/images/Line 1 (1).png" alt="" />
                </div>
                <div class=" sevan-page-cnt-one flex flex-wrap flex-row  w-full  justify-between px-[300px] py-[40px]">
                    <div class="sevan-page-cnt-1 flex flex-wrap">
                        <img class="w-[470px]" src="../../../../assets/images/Group 10.png" alt="" />
                    </div>
                    <div
                        class="sevan-page-cnt-2 w-[40%] flex-wrap flex flex-col justify-center items-center gap-[20px]">
                        <p class="font-[600] text-[20px] text-[#092582]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION
                            & ISSUE
                            OF ID CARDS</p>
                        <p class="font-[500] text-[14px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID
                            CARDSSCHEDULE FOR ORIGINAL
                            CERTIFICATE
                            VERIFICATION & ISSUE OF ID CARDS</p>
                        <div class="flex flex-wrap w-full">
                            <button
                                class="bg-white py-[5px] rounded-md px-[10px] justify-start items-start font-[500] text-[16px]">JUL
                                25
                                2023</button>
                        </div>
                    </div>
                </div>
                <div
                    class="sevan-page-cnt-tow flex flex-wrap flex-row  w-full gap-[60px]  justify-between px-[300px] py-[40px]">

                    <div class="sevan-page-cnt-1 w-[40%] flex-wrap flex flex-col justify-center items-center gap-[20px] order-2 lg:order-1
                        ">
                        <p class="font-[600] text-[20px] text-[#092582]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION
                            & ISSUE
                            OF ID CARDS</p>
                        <p class="font-[500] text-[14px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID
                            CARDSSCHEDULE FOR ORIGINAL
                            CERTIFICATE
                            VERIFICATION & ISSUE OF ID CARDS</p>
                        <div class="flex flex-wrap w-full">
                            <button
                                class="bg-white py-[5px] rounded-md px-[10px] justify-start items-start font-[500] text-[16px]">JUL
                                25
                                2023</button>
                        </div>
                    </div>
                    <div class="sevan-page-cnt-2 flex flex-wrap order-1 lg:order-2">
                        <img class="w-[470px]" src="../../../../assets/images/Group 11.png" alt="" />
                    </div>
                </div>
                <div
                    class="sevan-page-cnt-three flex flex-wrap flex-row  w-full gap-[60px]  justify-between px-[300px] py-[40px]">
                    <div class="sevan-page-cnt-1 flex flex-wrap">
                        <img class="w-[470px]" src="../../../../assets/images/Group 10.png" alt="" />
                    </div>
                    <div
                        class="sevan-page-cnt-2 w-[40%] flex-wrap flex flex-col justify-center items-center gap-[20px]">
                        <p class="font-[600] text-[20px] text-[#092582]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION
                            & ISSUE
                            OF ID CARDS</p>
                        <p class="font-[500] text-[14px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID
                            CARDSSCHEDULE FOR ORIGINAL
                            CERTIFICATE
                            VERIFICATION & ISSUE OF ID CARDS</p>
                        <div class="flex flex-wrap w-full">
                            <button
                                class="bg-white py-[5px] rounded-md px-[10px] justify-start items-start font-[500] text-[16px]">JUL
                                25
                                2023</button>
                        </div>

                    </div>
                </div>
                <div class="flex justify-center items-center">.
                    <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                        <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                    </button>
                    <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Full Calendar</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="">
    <div class="flex flex-wrap justify-center">
        <div class="eight-page  w-full flex relative z-0  py-[100px] max-w-[1800px]">
            <swiper-container class="eight-page-cnt-1 w-[60%] h-[404px] pt-[50px] " centeredSlides="true"
                direction="vertical" Autoplay-disableOnInteraction="false" pagination-el="swiper-pagination"
                clickable="true">

                <swiper-slide>
                    <div class=" gap-[10px] flex flex-wrap flex-col justify-center items-center -z-40 ">
                        <div class="inner-full flex justify-center items-center w-full">
                            <div class="inner-text ">
                                <div class="flex flex-wrap gap-5 flex-col ">
                                    <p class="font-[500] text-[#092582]">Voices</p>
                                    <p class="font-[500] text-[20px] text-[#C7171F]">Student Testimonials</p>
                                    <div class="">
                                        <img class="absolute" src="../../../../assets/images/Group 15.png" alt="" />
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-8 pt-10 max-w-[300px] pt-">
                                    <p class="font-[500] text-[12px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION &
                                        ISSUE OF
                                        ID
                                        CARDS
                                        SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID CARDS SCHEDULE FOR
                                        ORIGINAL
                                        CERTIFICATE
                                        VERIFICATION & ISSUE OF ID CARDS </p>
                                    <p class="text-[#092582] text-[10px] font-[500]">SCHEDULE FOR ORIGINAL CERTIFICATE
                                        VERIFICATION
                                        & ISSUE
                                        OF ID CARDS</p>
                                    <div class="flex justify-center items-center">.
                                        <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                                            <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                                        </button>
                                        <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Full Calendar
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-img">
                                <div class="eight-page-img relative right-[-120px]  -z-40">
                                    <img class="max-w-[400px]" src="../../../../assets/images/Rectangle 2033.png"
                                        alt="" />
                                </div>
                            </div>

                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" gap-[10px] flex flex-wrap flex-col justify-center items-center -z-40 ">
                        <div class="inner-full flex justify-center items-center w-full">
                            <div class="inner-text ">
                                <div class="flex flex-wrap gap-5 flex-col ">
                                    <p class="font-[500] text-[#092582]">Voices</p>
                                    <p class="font-[500] text-[20px] text-[#C7171F]">Student Testimonials</p>
                                    <div class="">
                                        <img class="absolute" src="../../../../assets/images/Group 15.png" alt="" />
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-8 pt-10 max-w-[300px] pt-">
                                    <p class="font-[500] text-[12px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION &
                                        ISSUE OF
                                        ID
                                        CARDS
                                        SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID CARDS SCHEDULE FOR
                                        ORIGINAL
                                        CERTIFICATE
                                        VERIFICATION & ISSUE OF ID CARDS </p>
                                    <p class="text-[#092582] text-[10px] font-[500]">SCHEDULE FOR ORIGINAL CERTIFICATE
                                        VERIFICATION
                                        & ISSUE
                                        OF ID CARDS</p>
                                    <div class="flex justify-center items-center">.
                                        <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                                            <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                                        </button>
                                        <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Full Calendar
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-img">
                                <div class="eight-page-img relative right-[-120px]  -z-40">
                                    <img class="max-w-[400px]" src="../../../../assets/images/Rectangle 2034.png"
                                        alt="" />

                                </div>
                            </div>

                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" gap-[10px] flex flex-wrap flex-col justify-center items-center -z-40 ">
                        <div class="inner-full flex justify-center items-center w-full">
                            <div class="inner-text ">
                                <div class="flex flex-wrap gap-5 flex-col ">
                                    <p class="font-[500] text-[#092582]">Voices</p>
                                    <p class="font-[500] text-[20px] text-[#C7171F]">Student Testimonials</p>
                                    <div class="">
                                        <img class="absolute" src="../../../../assets/images/Group 15.png" alt="" />
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-8 pt-10 max-w-[300px] pt-">
                                    <p class="font-[500] text-[12px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION &
                                        ISSUE OF
                                        ID
                                        CARDS
                                        SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID CARDS SCHEDULE FOR
                                        ORIGINAL
                                        CERTIFICATE
                                        VERIFICATION & ISSUE OF ID CARDS </p>
                                    <p class="text-[#092582] text-[10px] font-[500]">SCHEDULE FOR ORIGINAL CERTIFICATE
                                        VERIFICATION
                                        & ISSUE
                                        OF ID CARDS</p>
                                    <div class="flex justify-center items-center">.
                                        <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                                            <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                                        </button>
                                        <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Full Calendar
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-img">
                                <div class="eight-page-img relative right-[-120px]  -z-40">
                                    <img class="max-w-[400px]" src="../../../../assets/images/Rectangle 2035 (7).png"
                                        alt="" />
                                </div>
                            </div>

                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" gap-[10px] flex flex-wrap flex-col justify-center items-center -z-40 ">
                        <div class="inner-full flex justify-center items-center w-full">
                            <div class="inner-text ">
                                <div class="flex flex-wrap gap-5 flex-col ">
                                    <p class="font-[500] text-[#092582]">Voices</p>
                                    <p class="font-[500] text-[20px] text-[#C7171F]">Student Testimonials</p>
                                    <div class="">
                                        <img class="absolute" src="../../../../assets/images/Group 15.png" alt="" />
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-8 pt-10 max-w-[300px] pt-">
                                    <p class="font-[500] text-[12px]">SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION &
                                        ISSUE OF
                                        ID
                                        CARDS
                                        SCHEDULE FOR ORIGINAL CERTIFICATE VERIFICATION & ISSUE OF ID CARDS SCHEDULE FOR
                                        ORIGINAL
                                        CERTIFICATE
                                        VERIFICATION & ISSUE OF ID CARDS </p>
                                    <p class="text-[#092582] text-[10px] font-[500]">SCHEDULE FOR ORIGINAL CERTIFICATE
                                        VERIFICATION
                                        & ISSUE
                                        OF ID CARDS</p>
                                    <div class="flex justify-center items-center">.
                                        <button class=" hover:bg-[#FF5159] bg-[#C7171F] rounded-full p-[6px]">
                                            <img class="" src="../../../../assets/images/Mask group (2).png" alt="" />
                                        </button>
                                        <p class="font-[500] text-[15px] hover:text-[#FF5159] pl-[10px]">Full Calendar
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-img">
                                <div class="eight-page-img relative right-[-120px]  -z-40">
                                    <img class="max-w-[400px]" src="../../../../assets/images/Rectangle 2036.png"
                                        alt="" />
                                </div>
                            </div>

                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
            <div class="eight-page-cnt-2 z-0 absolute  flex justify-end w-full pr-[60px]">
                <div class="eight-page-cnt-text flex flex-wrap  w-[50%]">
                    <div
                        class="eight-page-2 flex flex-wrap bg-[#FF5159] w-full justify-center items-center py-[48px]  rounded-md  ">

                        <div class="flex flex-wrap flex-col  ">
                            <div
                                class="eight-page-pr flex flex-wrap flex-row items-center gap-5 hover:bg-[#C7171F] rounded-full p-3 pr-[80px]">
                                <img class="" src="../../../../assets/images/Rectangle 2035 (8).png" alt="" />
                                <p class="text-[white]">karthika sunilkumar</p>
                            </div>

                            <div class="flex flex-wrap flex-row items-center gap-5 hover:bg-[#C7171F] rounded-full p-3">
                                <img class="" src="../../../../assets/images/Rectangle 2035 (3).png" alt="" />
                                <p class="text-[white]">karthika sunilkumar</p>
                            </div>
                            <div
                                class="flex flex-wrap flex-row items-center gap-5  hover:bg-[#C7171F] rounded-full p-3">
                                <img class="" src="../../../../assets/images/Rectangle 2035 (4).png" alt="" />
                                <p class="text-[white]">karthika sunilkumar</p>
                            </div>
                            <div
                                class="flex flex-wrap flex-row items-center gap-5  hover:bg-[#C7171F] rounded-full p-3">
                                <img class="" src="../../../../assets/images/Rectangle 2035 (6).png" alt="" />
                                <p class="text-[white]">karthika sunilkumar</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="flex flex-wrap justify-center ">
    <div class="max-w-[2400px]">
        <div class="page-nine flex flex-wrap w-full ">
            <div class="page-nine-pad  bg-white  px-[100px]  py-[100px] flex-row">
                <div class="page-nine-cnt-1 flex flex-wrap flex-col pb-[40px] gap-[10px]">
                    <p class="font-[400] text-[30px] pb-[px]">
                        Programmes <a class="text-[#C7171F]" href="">Offered</a>
                    </p>
                    <div class="">
                        <img class="" src="../../../../assets/images/Line 1 (1).png" alt="" />
                    </div>
                </div>
                <div class="page-nine-cnt-2 flex flex-wrap gap-10">
                    <div class="cards relative flex flex-wrap cursor-pointer">
                        <img class="innerr-img w-[400px] pb-[15px]" src="../../../../assets/images/Rectangle 2037.png"
                            alt="" />
                        <div class="introver absolute flex flex-wrap flex-row   bottom-[-65px] pr-[40px] gap-2">
                            <div class="bg-white pl-[20px] pr-[40px] rounded-tr-lg ">
                                <p class="introver-heard font-[500] text-[20px] pt-2">School of Sciences</p>
                                <div class="border-bottom w-[60px] pt-1 border-b-[2px] border-red-500">
                                </div>
                                <div
                                    class="inner-text  font-[500] text-[12px] visibility: hidden; opacity-0 pt-2 pr-[100px] pb-4 flex gap-1 flex-col    ">
                                    <p> B.Sc., M.Sc., Ph.D., Biotech</p>
                                    <p> B.Sc., M.Sc., Ph.D., Microbio</p>
                                    <p>B.Sc.Psychology, B.Sc.Ecs&Comm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-2 relative flex flex-wrap cursor-pointer">
                        <img class="innerr-img-2 w-[400px] pb-[15px]"
                            src="../../../../assets/images/Rectangle 2037 (1).png" alt="" />
                        <div class="introver-2 absolute flex flex-wrap flex-row    bottom-[-50px] pr-[40px] gap-2">
                            <div class="bg-white pl-[20px] pr-[40px] rounded-tr-lg ">
                                <p class="introver-heard font-[500] text-[20px] pt-2">School of Media Studies</p>
                                <div class="border-bottom w-[60px] pt-1 border-b-[2px] border-red-500 ">
                                </div>
                                <div
                                    class="inner-text-2  font-[500] text-[12px] visibility: hidden; opacity-0 pt-2 pr-[100px] pb-4 flex gap-1 flex-col    ">
                                    <p> B.Sc. Electronic Media</p>
                                    <p> B.Sc., M.Sc., Visual Communication</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-3 relative flex flex-wrap cursor-pointer">
                        <img class="innerr-img-3 w-[400px] pb-[15px]"
                            src="../../../../assets/images/Rectangle 2037 (2).png" alt="" />
                        <div class="introver-3 absolute flex flex-wrap flex-row    bottom-[-65px] pr-[40px] gap-2">
                            <div class="bg-white pl-[20px] pr-[40px] rounded-tr-lg ">
                                <p class="introver-heard font-[500] text-[20px] pt-2">School of Computational Studies
                                </p>
                                <div class="border-bottom w-[60px] pt-1 border-b-[2px] border-red-500 ">
                                </div>
                                <div
                                    class="inner-text-3  font-[500] text-[12px] visibility: hidden; opacity-0 pt-1 pr-[100px] pb-4 flex gap-1 flex-col ">
                                    <p>B.Sc. Computer Science , BCA</p>
                                    <p>B.Sc. Mathematics</p>
                                    <p>M.Sc. Computer Science , M.Sc. IT</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-4 relative flex flex-wrap cursor-pointer">
                        <img class="innerr-img-4 w-[400px] pb-[15px]"
                            src="../../../../assets/images/Rectangle 2037 (3).png" alt="" />
                        <div class="introver-4 absolute flex flex-wrap flex-row   bottom-[-86px] pr-[40px] gap-2">
                            <div class="bg-white pl-[20px] pr-[40px] rounded-tr-lg ">
                                <p class="introver-heard font-[500] text-[20px] pt-2">School of Business Studies</p>
                                <div class="border-bottom w-[60px] pt-1 border-b-[2px] border-red-500 ">
                                </div>
                                <div
                                    class="inner-text-4  font-[500] text-[12px] visibility: hidden; opacity-0 pt-1 pr-[100px] pb-4 flex gap-1 flex-col ">
                                    <p> B.B.A., B.Com. (A & F)</p>
                                    <p> B.Com. (CA), B.Com. (Gen)</p>
                                    <p> B.Com. (BM), B.Com. (Cs)</p>
                                    <p> M.Com., Ph.D.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards relative flex flex-wrap cursor-pointer">
                        <img class="innerr-img w-[400px] pb-[15px]"
                            src="../../../../assets/images/Rectangle 2037 (4).png" alt="" />
                        <div class="introver absolute flex flex-wrap flex-row   bottom-[-60px] pr-[40px] gap-2">
                            <div class="bg-white pl-[20px] pr-[40px] rounded-tr-lg ">
                                <p class="introver-heard font-[500] text-[20px] pt-2">School of Humanities</p>
                                <div class="border-bottom w-[60px]  border-b-[2px] border-red-500 pt-1">
                                </div>
                                <div
                                    class="inner-text  font-[500] text-[12px] visibility: hidden; opacity-0 pt-1 pr-[100px] pb-4 flex gap-1 flex-col    ">
                                    <p>B.A. English</p>
                                    <p>Languages</p>
                                    <p>B.S.W., M.S.W., Social Work</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="page-ten flex flex-wrap justify-center items-center w-full ">
    <div class="ten-one flex flex-wrap bg-[#FFF5F5]  w-full justify-center items-center flex-col gap-5 py-[80px]">

        <p class="text-[black] font-[500] text-[25px]">Research <a class="text-[#C7171F]" href="">Studies</a></p>
        <img class="" src="../../../../assets/images/Line 1.png" alt="" />

        <div class="ten-tow flex flex-wrap flex-row gap-[45px] w-full justify-center items-center">
            <div class="containerrr">
                <img class="image w-[400px]" src="../../../../assets/images/Component 39.png" alt="" />
                <div class="overlay">
                    <p class="text text-[#F1F1F1] font-[400] text-[20px] ">Ph.D In Biotechnology</p>
                </div>
            </div>
            <div class="containerrr">
                <img class="image w-[400px]" src="../../../../assets/images/Component 43.png" alt="" />
                <div class="overlay">
                    <p class="text text-[#F1F1F1] font-[400] text-[20px] ">Ph.D In Commerce</p>
                </div>
            </div>
            <div class="containerrr">
                <img class="image w-[400px]" src="../../../../assets/images/Component 45.png" alt="" />
                <div class="overlay">
                    <p class="text text-[#F1F1F1] font-[400] text-[20px] ">Ph.D In Microbiology</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap justify-center ">
    <div class="max-w-[1980px]">
        <div class="page-nine flex flex-wrap w-full ">
            <div class="page-nine-pad  bg-white  px-[100px]  py-[100px] flex-row">
                <div class="page-nine-cnt-1 flex flex-wrap flex-col px-[80px] pb-[40px] gap-[10px]">
                    <p class="font-[400] text-[30px] pb-[px]">
                        Add-On <a class="text-[#C7171F]" href="">Courses </a>
                    </p>
                    <div class="border-bottom w-[45px]  border-b-[2px] border-red-500">
                    </div>
                </div>
                <div class="page-nine-cnt-2 flex flex-wrap gap-[45px] w-full justify-center items-center ">
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg " src="../../../../assets/images/Astronomy.png"
                            alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Variant2.png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Cyber Security (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default.png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg" src="../../../../assets/images/Tally (1).png"
                            alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (3).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Audio Recording (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (4).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Desktop Publishing (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (7).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Photo Journalism (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (5).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Adobe photoshop Designing (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (6).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Biogas Technology (Certificate Course) (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (7).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg"
                            src="../../../../assets/images/Embedded Systems and its Applications (1).png" alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (8).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg" src="../../../../assets/images/Astronomy (3).png"
                            alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Default (9).png" alt="" />
                        </div>
                    </div>
                    <div class="hover ">
                        <img class="main-img w-[200px] rounded-lg" src="../../../../assets/images/Astronomy (4).png"
                            alt="" />
                        <div class="hover-img">
                            <img class="main-img w-[200px] rounded-lg"
                                src="../../../../assets/images/Property 1=Variant2.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap  relative">
    <div class="page-ten flex flex-wrap justify-center items-center w-full  ">
        <div class="ten-one ">
            <div class="flex flex-wrap bg-[#FFFF]  w-full justify-center items-center flex-col  ">
                <p class="font-[600] text-[20px]">New</p>
                <p class="text-[#092582] font-[500] text-[25px] text-center">University of Madras <a
                        class="text-[#C7171F]" href="">Rank
                        Holders</a></p>
                <img class="" src="../../../../assets/images/Line 1.png" alt="" />
            </div>
            <div class="rotaing-slider">
                <div class="">
                    <img class="" src="../../../../assets/images/Component 46 (1).png" alt="" />
                </div>

                <div class="ten-tow-cnt  relative flex justify-center items-center flex-col gap-[10px] bottom-[200px]">
                    <p class="text-[#FF5159] font-[500] text-[15px]">Rank 1</p>
                    <p class="text-[#092582] font-[500] text-[20px]">Gowtham</p>
                    <p class=" font-[500] text-[15px]">Visual communication</p>
                    <p class=" font-[500] text-[13px]">2020 - 2023</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap justify-center  bg-[#FFF5F5] ">
    <div class="max-w-[2400px]">
        <div class="finel-page flex flex-wrap w-full top-[400px] ">
            <div class="finel-page-cnt flex flex-wrap px-[100px] py-[50px] w-full">
                <div class="finel-page-one w-[20%]">
                    <img class=" " src="../../../../assets/images/logo 1.png" alt="" />
                    <p class="font-[500] text-[13px] pt-[10px]">YEARS OF ACADEMIC 1980 EXCELLENCEHINDUSTAN COLLEGE OF
                        ARTS &
                        SCIENCE</p>
                </div>
                <div class="finel-page-tow w-[20%] flex flex-wrap  flex-col pl-[100px] gap-[20px]">
                    <p class="pb-[20px] font-[500] text-[24px] text-[#092582]">P a g e s</p>
                    <p class="font-[500] text-[13px]">Home</p>
                    <p class="font-[500] text-[13px]">Admission</p>
                    <p class="font-[500] text-[13px]">Courses</p>
                    <p class="font-[500] text-[13px]">Staff Login</p>
                </div>
                <div class="finel-page-three w-[30%] flex flex-wrap flex-col gap-[20px] pl-[22px] ">

                    <p class="pb-[20px] font-[500] text-[24px] text-[#092582]">Campus Address</p>
                    <div class="flex flex-wrap flex-row font-[500] text-[13px] gap-2  items-center">
                        <img class=" w-5 h-5" src="../../../../assets/images/Group (5).png" alt="" />
                        <p>+91-99622 75666</p>
                    </div>
                    <div class="flex flex-wrap flex-row font-[500] text-[13px] gap-2  items-center">
                        <img class=" w-5 h-5" src="../../../../assets/images/telephone-icon.png" alt="" />
                        <p>+ 044 6903 4444 | + 044 6903 4444</p>
                    </div>
                    <div class="flex flex-wrap flex-row font-[500] text-[13px] gap-2  items-center">
                        <img class=" w-5 h-5" src="../../../../assets/images/email.png" alt="" />
                        <p>hcaspadur{{'@'}}yahoo.com</p>
                    </div>
                    <div class="flex  flex-row font-[500] text-[13px] gap-2 ">
                        <img class=" w-5 h-5" src="../../../../assets/images/Vector (9).png " alt="" />
                        <p>Padur, Kelambakkam (OMR),Rajiv Gandhi Salai,Chennai - 603 103.</p>
                    </div>
                    <img class=" h-[20px] w-[200px]" src="../../../../assets/images/Group 1000003180.png" alt="" />
                </div>
                <div class="finel-page-four w-[30%] flex flex-wrap flex-col gap-[20px] pl-[68px] ">

                    <p class="pb-[20px] font-[500] text-[24px] text-[#092582]">Admission Office</p>
                    <div class="flex flex-wrap flex-row font-[500] text-[13px] gap-2  items-center">
                        <img class=" w-5 h-5" src="../../../../assets/images/Group (5).png" alt="" />
                        <p>+91-99622 75666</p>
                    </div>
                    <div class="flex flex-wrap flex-row font-[500] text-[13px] gap-2  items-center">
                        <img class=" w-5 h-5" src="../../../../assets/images/telephone-icon.png" alt="" />
                        <p>+ 044 6903 4444 | + 044 6903 4444</p>
                    </div>
                    <div class="flex flex-wrap flex-row font-[500] text-[13px] gap-2  items-center">
                        <img class=" w-5 h-5" src="../../../../assets/images/email.png" alt="" />
                        <p>hcaspadur{{'@'}}yahoo.com</p>
                    </div>
                    <div class="flex  flex-row font-[500] text-[13px] gap-2 ">
                        <img class=" w-5 h-5" src="../../../../assets/images/Vector (9).png " alt="" />
                        <p>No 9/24 Canal Road,Thiruvanmiyur,Near Pazhamudircholai,Chennai - 600 041.</p>
                    </div>
                    <img class=" h-[20px] w-[200px]" src="../../../../assets/images/Group 1000003180.png" alt="" />

                </div>
            </div>
        </div>
        <hr>
        <div class="flex flex-wrap bg-[#FFF5F5] justify-center items-center">
            <p class="text-[#092582] p-5 font-[500] text-[20px] text-center">Hindustan Arts & Science College © 2023.
                All Rights
                Reserved.
            </p>
        </div>
    </div>
</div>